.button {
  appearance: none;
  background: #4b6e31;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font: inherit;
  font-weight: 500;
  line-height: 1;
  padding: 1em 1.5em;
  position: relative;
  transition: filter 0.3s;
}

button:hover {
  filter: brightness(1.1);
}

button:active {
  filter: brightness(0.9);
}
