.header {
  border-bottom: 0.3px solid rgb(255, 255, 255);
  padding-bottom: 10px;
}

.button {
  background-color: rgb(150, 227, 129);
  border: 1px solid white;
  padding: 5px;
  border-radius: 10px;
}
