.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

p {
  text-align: start;
  padding-right: 10px;
  color: #fae8e0;
}

.content {
  text-align: center;
}

.heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.inputContainer {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.input {
  padding: 0.5rem;
  font-size: 1rem;
}

.button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: white;
  background-color: #ef7c8e;
}

.taskList {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 1rem;
  list-style: none;
  padding: 0;
}

.taskListItem {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}
